How do I create list in python ?

In [29]:
# List of letters
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

# List of numbers
numbers = [1,2,3,4,5,6,7,8,9,10]

# an Empty list
empty_list = []

General slicing format is letters [ start : stop : step ]

In [ ]:
# List looks like this
List_of_numbers = [  1,  2,  3,  4,  5,  6,  7,  8,  9,  10 ]

# Indexing looks like this
Normal_index =    [  0,  1,  2,  3,  4,  5,  6,  7,  8,   9 ]

# Reverse indexing looks like this
reverse_index =   [-10, -9, -8, -7, -6, -5, -4, -3, -2,  -1 ]

Select from the second element to the end

In [3]:
print(letters[1:])

print(numbers[1:])

['b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
numbers[-10]

1

Select from the start, stop before the last element

In [5]:
print(letters[:-1])
print(numbers[:-1])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

Start at index 1, stop 2 elements before the end

In [6]:
print(letters[1:-2])
print(numbers[1:-2])

['b', 'c', 'd', 'e', 'f', 'g', 'h']
[2, 3, 4, 5, 6, 7, 8]

From index 0 to before 9, take every 2nd element

In [8]:
print(numbers[0:9:2])

[1, 3, 5, 7, 9]

Take every 2nd element from start to end

In [11]:
print(numbers[::2])

[1, 3, 5, 7, 9]

Reverse the list and take every 2nd element

In [14]:
print(numbers[::-2])

[10, 8, 6, 4, 2]

Reverse the list completely

In [16]:
print(numbers[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Change 5 in numbers list to 50

In [45]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [46]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
# 5 is on index, so we will assign to location 4
numbers[4] = 50
print(numbers)

[1, 2, 3, 4, 50, 6, 7, 8, 9, 10]

How do I add items?

In [48]:
numbers.append(11)
numbers

[1, 2, 3, 4, 50, 6, 7, 8, 9, 10, 11]

In [49]:
numbers.extend([12, 13])
numbers

[1, 2, 3, 4, 50, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
# insert 99 at a position 1
numbers.insert(1,99)
numbers

[1, 99, 2, 3, 4, 50, 6, 7, 8, 9, 10, 11, 12, 13]

How do I check membership?

In [55]:
99 in numbers, 'z' in letters

(True, False)

How do I get length of list ?

In [57]:
len(numbers)

14

How to I get min of the list ?

In [58]:
min(numbers)

1

How do I get max of the list ?

In [59]:
max(numbers)

99

How dop I get sum of list ?

In [60]:
sum(numbers)

235

How do I loop through a list?

In [61]:
for i in numbers:
    print(i)

1
99
2
3
4
50
6
7
8
9
10
11
12
13

How do I loop with the indexes of list ?

In [65]:
# for index, value in list
for i,v in enumerate(numbers):
    print("index is ",i, "and value is ",v)

index is  0 and value is  1
index is  1 and value is  99
index is  2 and value is  2
index is  3 and value is  3
index is  4 and value is  4
index is  5 and value is  50
index is  6 and value is  6
index is  7 and value is  7
index is  8 and value is  8
index is  9 and value is  9
index is  10 and value is  10
index is  11 and value is  11
index is  12 and value is  12
index is  13 and value is  13

What’s the difference between sorted( ) and .sort( )?

In [67]:
# sorted gives a new list
numbers_sorted = sorted(numbers)
numbers_sorted

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 50, 99]

In [68]:
# sort returns nothing
numbers.sort()
numbers

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 50, 99]

How do I reverse a list?

In [72]:
# to reverse in place
numbers.reverse()
numbers

[99, 50, 13, 12, 11, 10, 9, 8, 7, 6, 4, 3, 2, 1]

In [77]:
# not in place, you have to assign a new variable
print(numbers_sorted[::-1]),
print(numbers_sorted)

[99, 50, 13, 12, 11, 10, 9, 8, 7, 6, 4, 3, 2, 1]
[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 50, 99]

How do I count occurrences and find an index?

In [80]:
numbers.append(99)

In [81]:
# how many times does 99 occur in the list numbers
numbers.count(99)

2

In [84]:
numbers

[99, 50, 13, 12, 11, 10, 9, 8, 7, 6, 4, 3, 2, 1, 99]

In [91]:
# where does 99 first occur in the list ?
numbers.index(99)

0

In [ ]:
# How to find the other occurance of 99 ?
for i,v in enumerate(numbers):
    if v==99:
        print(i,v)

0 99
14 99

How do I join lists or repeat them?

In [93]:
numbers, numbers_sorted

([99, 50, 13, 12, 11, 10, 9, 8, 7, 6, 4, 3, 2, 1, 99],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 50, 99])

In [95]:
numbers_joined = numbers + numbers_sorted

In [96]:
numbers_joined

[99,
 50,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 4,
 3,
 2,
 1,
 99,
 1,
 2,
 3,
 4,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 50,
 99]

How do you repeat a list ?

In [99]:
numbers_repeated = numbers * 2
numbers_repeated

[99,
 50,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 4,
 3,
 2,
 1,
 99,
 99,
 50,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 4,
 3,
 2,
 1,
 99]

How do I build a list quickly using (list comprehension)

In [106]:
# make list of squares of first 10 numbers
[(n*n) for n in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [111]:
# make list of even numbers from first 20 numbers
[n for n in range(21) if n%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

How do I copy a list?

In [117]:
print(numbers)
numbers_copy = numbers.copy()
numbers_copy

[99, 50, 13, 12, 11, 10, 9, 8, 7, 6, 4, 3, 2, 1, 99]

[99, 50, 13, 12, 11, 10, 9, 8, 7, 6, 4, 3, 2, 1, 99]

In [118]:
# this is not a copy, it is the same object
numbers_another = numbers
numbers_another

[99, 50, 13, 12, 11, 10, 9, 8, 7, 6, 4, 3, 2, 1, 99]

In [120]:
# Copy 
numbers_copy_2 = numbers[:]
numbers_copy_2

[99, 50, 13, 12, 11, 10, 9, 8, 7, 6, 4, 3, 2, 1, 99]

What’s the difference between shallow and deep copy?

In [ ]:
# This works when you have lists of lists

# make a list  x
x = [[1,3,5,7,9], [2,4,6,8,10]]
y = x.copy()         # shallow: inner lists shared

y[0].append(11)


import copy
z = copy.deepcopy(x) # deep: inner lists copied

y[0].append(13)

In [150]:
print("x is ", x)
print("y is ", y)
print("z is ", z)

x is  [[1, 3, 5, 7, 9, 11, 13], [2, 4, 6, 8, 10]]
y is  [[1, 3, 5, 7, 9, 11, 13], [2, 4, 6, 8, 10]]
z is  [[1, 3, 5, 7, 9, 11], [2, 4, 6, 8, 10]]